@keyframes iconFadeIn {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes imageFadeIn {
  33% {
    opacity: 1;
    background-image: url("../images/icons/thien.png");
  }
  66% {
    opacity: 1;
    background-image: url("../images/icons/bodoi.png");
  }
  100% {
    opacity: 1;
    background-image: url("../images/icons/avatar.png");
  }
}
