@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: $primary--color;
  border-radius: 24px;
  margin: 24px;
  ul,
  li {
    padding: 0;
    margin: 0;
  }
  & > .row {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .col-xl-0 .col-xl-2 {
    @include centerItem();
  }
  &__avatar {
    width: 140px;
    height: 160px;
    border-radius: 12px;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    @include centerItem();
    box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
    a {
      padding: 0;
      margin: 0;
      color: inherit;
    }
  }
  &__name {
    text-align: center;
    font-size: 36px;
    padding-top: 12px;
    margin-bottom: 0;
  }
  &__about {
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
  }
}
.infoList {
  p {
    padding: 0;
    margin: 0;
  }
  .infoList__title {
    text-transform: uppercase;
    margin-top: 16px;
    user-select: none;
  }
  .infoList__content {
    font-size: 16px;
  }
}
.icon {
  width: 40px;
  height: 40px;
  animation: iconFadeIn 2s linear infinite;
}
