#HobbyPage {
  .row {
    margin: 0;
    padding: 0;
  }
  .hobby--item {
    background-color: $secondary--color;
    border-radius: 24px;
    @include centerItem();
    margin-bottom: 8px;
    padding: 12px 0;
    .col-xl-4 {
      @include centerItem();
    }
    cursor: pointer;
    @include shadowBox();
  }
  .hobby--item:hover {
    transform: translate3d(0, -4px, 0.6px);
  }
  .hobby__img {
    border-radius: 12px;
    box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  }
  .hobby__text {
    text-align: justify;
  }
  .happy--item {
    @include centerItem();
    margin-bottom: 6px;
  }
  .happy__img {
    width: 32px;
    height: 32px;
    transition-duration: 1s;
  }
}
