@mixin imageHome {
  background-color: $secondary--color;
  border-radius: 24px;
  box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

#HomePage {
  overflow: hidden;
  .content__home {
    border-radius: 24px;
    background-image: url("../images/icons/background.png");
    background-size: cover;
    background-position: center;
    min-height: 430px;
    @include centerItem();
  }
  .row {
    margin: 0;
    padding: 0;
    @include centerItem();
  }
  .home--images {
    @include centerItem();
    .home__img {
      border-radius: 18px;
    }
  }

  .wapper {
    h2 {
      text-align: center;
      font-weight: 500;
    }
    h3 {
      font-weight: 500;
      span {
        margin-left: 8px;
        font-weight: 600;
        color: $font-color;
        user-select: none;
      }
      .ityped-cursor {
        animation: blink 0.3s infinite;
        animation-direction: alternate;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  .button-btn {
    @include centerItem();
    button {
      width: 150px;
      height: 40px;
      font-size: 20px;
      border-radius: 24px;
      border: 1px solid #fff;
      @include shadowBox();
      background: linear-gradient(
        45deg,
        $first--gradient,
        $secondary--gradient
      );
      animation: background-btn linear 3s infinite;
    }
    button:hover {
      transform: translate3d(0, -4px, 0.6px);
    }
  }
  @keyframes background-btn {
    25% {
      background: linear-gradient(
        90deg,
        $first--gradient,
        $secondary--gradient
      );
    }
    50% {
      background: linear-gradient(
        180deg,
        $first--gradient,
        $secondary--gradient
      );
    }
    100% {
      background: linear-gradient(
        270deg,
        $first--gradient,
        $secondary--gradient
      );
    }
  }
}
