@mixin imageHome {
  background-color: $secondary--color;
  border-radius: 24px;
  box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}
#HomePage {
  overflow: hidden;
  .content__home {
    border-radius: 24px;
    background-image: url("../images/icons/background.png");
    background-size: cover;
    background-position: center;
  }
  .row {
    margin: 0;
    padding: 0;
    @include centerItem();
  }
  .home__img {
    width: 360px;
    height: 400px;
    margin: 16px 0;
    @include imageHome();
    @include centerItem();
    .home__img--item {
      width: 320px;
      height: 360px;
      @include imageHome();
      border-radius: 20px;
      background-image: url("../images/icons/thien.png");
      background-size: cover;
      background-position: center;
    }
  }
  .wapper {
    font-family: "Merriweather", serif;
    font-weight: 400;
    h2 {
      text-align: center;
    }
    h3 {
      margin-left: 20px;
      span {
        margin-left: 12px;

        color: $font-color;
        user-select: none;
      }
      .ityped-cursor {
        animation: blink 0.3s infinite;
        animation-direction: alternate;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  .button-btn {
    @include centerItem();
    button {
      width: 150px;
      height: 40px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 24px;
      border: 1px solid #fff;
      @include shadowBox();
      background: linear-gradient(45deg, #bac4e9, #88f0f8);
      animation: background-btn linear 3s infinite;
    }
    button:hover {
      transform: translate3d(0, -4px, 0.6px);
    }
  }
  @keyframes background-btn {
    25% {
      background: linear-gradient(90deg, #bac4e9, #88f0f8);
    }
    50% {
      background: linear-gradient(180deg, #bac4e9, #88f0f8);
    }
    100% {
      background: linear-gradient(270deg, #bac4e9, #88f0f8);
    }
  }
}
