#IntroPage {
  .row {
    margin: 0;
    padding: 0;
  }
  .intro--item {
    background-color: $secondary--color;
    border-radius: 24px;
    @include centerItem();
    margin-bottom: 6px;
    padding: 12px 0;
    .col-xl-4 {
      @include centerItem();
    }
    cursor: pointer;
    @include shadowBox();
  }
  .intro--item:hover {
    transform: translate3d(0, -4px, 0.6px);
  }
  .intro__text {
    text-align: justify;
  }
  .happy--item {
    @include centerItem();
    margin-bottom: 6px;
  }
  .happy__img {
    width: 40px;
    height: 40px;
    transition-duration: 1s;
  }
}
