@media (min-width: 1200px) {
  .col-xl-0 {
    display: none;
  }
  #controller {
    padding: 32px;
    .header {
      .row .col-sm-3 {
        margin-left: 48px;
      }
      .row .col-sm-7 {
        margin-left: -48px;
      }
    }
    .header {
      .fb {
        margin-left: 40px;
        :hover {
          color: inherit;
        }
      }
      .git {
        margin-right: 40px;
        :hover {
          color: inherit;
        }
      }
    }
  }
  #ProductPage {
    .product--item {
      height: 258px;
    }
  }
  #HobbyPage {
    .hobby__text {
      padding-right: 36px;
    }
    .hobby__img {
      width: 80%;
    }
  }
  #IntroPage {
    .intro__text {
      padding-right: 48px;
    }
    .intro__img {
      width: 64%;
      height: 160px;
      border-radius: 16px;
      box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
    }
  }
  #HomePage {
    .wapper {
      h3 {
        padding: 0 30px;
      }
      span {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .col-lg-0 {
    display: none;
  }
  #controller {
    padding: 32px;
    .header {
      .fb {
        margin-left: 52px;
        :hover {
          color: inherit;
        }
      }
      .git {
        margin-right: 52px;
        :hover {
          color: inherit;
        }
      }
    }
  }
  #HobbyPage {
    .hobby__img {
      width: 80%;
      height: 140px;
    }
    .hobby__text {
      padding-right: 36px;
    }
  }
  #IntroPage {
    .intro__text {
      padding-right: 36px;
    }
    .intro__img {
      width: 64%;
      height: 140px;
      border-radius: 16px;
      box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
    }
  }
  #HomePage {
    .wapper {
      h3 {
        font-size: 22px;
        padding: 0 10px;
      }
      span {
        font-size: 22px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #controller {
    padding: 28px;
  }
  .col-md-0 {
    display: none;
  }
  .header__name {
    font-size: 28px;
  }
  .sidebar {
    height: 88px;
    margin-bottom: 24px;
    margin-right: 0;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__link {
      width: 100px;
      height: 64px;
      border-radius: 12px;
      margin: 12px 0;
      @include centerItem();
      flex-direction: column;
    }
  }
  .banner > .row {
    flex-direction: column;
  }
  #HobbyPage {
    .hobby__img {
      width: 80%;
      height: 120px;
    }
    .hobby__text {
      padding-right: 24px;
    }
  }
  #ProductPage {
    .product__img {
      padding: 0 6px;
      height: 210px;
      border-radius: 12px;
    }
    .product--item {
      height: 258px;
      background-color: $secondary--color;
      margin-bottom: 12px;
      padding: 24px 0px;
      border-radius: 24px;
    }
  }
  #IntroPage {
    .intro__text {
      padding-right: 28px;
    }
    .intro__img {
      width: 64%;
      height: 140px;
      border-radius: 12px;
      box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
    }
  }
}
@media (min-width: 650px) and (max-width: 768px) {
  .col-md-0 {
    display: none;
  }
  #controller {
    padding: 24px;
    .header {
      .fb {
        margin-left: 40px;
        :hover {
          color: inherit;
        }
      }
      .git {
        margin-right: 40px;
        :hover {
          color: inherit;
        }
      }
    }
  }
  marquee {
    font-size: 18px;
  }
  .header__name {
    font-size: 28px;
  }
  .sidebar {
    height: 88px;
    margin-bottom: 24px;
    margin-right: 0;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__link {
      width: 100px;
      height: 64px;
      border-radius: 12px;
      margin: 12px 0;
      @include centerItem();
      flex-direction: column;
    }
  }

  .banner > .row {
    flex-direction: column;
  }
  #HobbyPage {
    .hobby--item {
      display: flex;
      flex-direction: column;
    }
    .hobby__img {
      padding: 12px 0 6px 0;
      width: 60%;
    }
    .hobby__title {
      text-align: center;
    }
    .hobby__text {
      margin-top: -6px;
      padding: 0px 24px;
    }
  }
  #IntroPage {
    .intro--item {
      display: flex;
      flex-direction: column;
    }
    .intro__img {
      padding: 12px 0 6px 0;
      width: 42%;
      height: 200px;
    }
    .intro__title {
      text-align: center;
    }
    .intro__text {
      padding: 0 28px;
    }
  }
}
@media (width: 576px) {
  .header .col-sm-3 {
    margin-left: 40px;
  }
}
@media (max-width: 650px) and (min-width: 576px) {
  marquee {
    font-size: 18px;
  }
  .col-sm-0 {
    display: none;
  }
  #controller {
    padding: 24px;
    .header {
      .fb {
        margin-left: 40px;
        :hover {
          color: inherit;
        }
      }
      .git {
        margin-right: 40px;
        :hover {
          color: inherit;
        }
      }
    }
  }
  .header__name {
    font-size: 26px;
  }
  .header__about {
    font-size: 16px;
  }
  .icon {
    width: 30px;
    height: 30px;
    animation: iconFadeIn 2s linear infinite;
  }
  .header__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    @include centerItem();
    box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  }
  .header__avatar {
    width: 116px;
    height: 128px;
    border-radius: 12px;
  }
  // sidebar
  .sidebar {
    height: 76px;
    margin-bottom: 24px;
    margin-right: 0;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__link {
      width: 80px;
      height: 52px;
      border-radius: 12px;
      margin: 12px 0;
      @include centerItem();
      flex-direction: column;
    }
    span {
      display: none;
    }
  }
  .banner > .row {
    flex-direction: column;
  }
  #HobbyPage {
    .hobby--item {
      display: flex;
      flex-direction: column;
    }
    .hobby__img {
      border-radius: 28px;
      padding: 12px 0 6px 0;
      width: 60%;
    }
    .hobby__title {
      text-align: center;
    }
    .hobby__text {
      margin-top: -6px;
      padding: 0px 24px;
    }
  }
  #IntroPage {
    .intro--item {
      display: flex;
      flex-direction: column;
    }
    .intro__img {
      padding: 12px 0 6px 0;
      width: 42%;
      height: 164px;
    }
    .intro__title {
      text-align: center;
    }
    .intro__text {
      padding: 0 28px;
    }
  }
}
@media (max-width: 576px) {
  .col-0 {
    display: none;
  }
  #controller {
    padding: 20px;
    .header {
      .fb {
        margin-left: 32px;
        :hover {
          color: inherit;
        }
      }
      .git {
        margin-right: 32px;
        :hover {
          color: inherit;
        }
      }
    }
  }
  marquee {
    font-size: 16px;
  }
  .header .col-xl-2 {
    @include centerItem();
  }
  // siide bar
  .sidebar {
    height: 64px;
    margin-bottom: 24px;
    margin-right: 0;
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__link {
      width: 60px;
      height: 40px;
      border-radius: 12px;
      margin: 12px 0;
      @include centerItem();
      flex-direction: column;
    }
    span {
      display: none;
    }
  }
  .banner > .row {
    flex-direction: column;
  }
  #HobbyPage {
    .hobby--item {
      display: flex;
      flex-direction: column;
    }
    .hobby__img {
      border-radius: 0;
      padding: 6px 0 6px 0;
      width: 60%;
    }
    .hobby__title {
      text-align: center;
    }
    .hobby__text {
      margin-top: -6px;
      padding: 0px 24px;
    }
  }
  #ProductPage {
    .product--item {
      height: 286px;
    }
    .product--title {
      font-size: 18px;
      text-align: center;
    }
  }
  #IntroPage {
    .intro--item {
      display: flex;
      flex-direction: column;
    }
    .intro__img {
      padding: 12px 0 6px 0;
      width: 42%;
      height: 172px;
    }
    .intro__title {
      text-align: center;
    }
    .intro__text {
      padding: 0 16px;
    }
  }
}
@media (max-width: 390px) {
  .col-0 {
    display: none;
  }
  #controller {
    padding: 16px;
    .header {
      .fb {
        margin-left: 12px;
        :hover {
          color: inherit;
        }
      }
      .git {
        margin-right: 12px;
        :hover {
          color: inherit;
        }
      }
    }
  }
  marquee {
    font-size: 14px;
  }
  .sidebar {
    span {
      display: none;
    }
  }
  .header .col-xl-2 {
    @include centerItem();
  }
  .header__name {
    font-size: 24px;
  }
  .header__about {
    font-size: 16px;
  }
  #ProductPage {
    .product__img {
      margin-bottom: 28px;
    }
    .product--item {
      height: 286px;
    }
    .product--title {
      font-size: 16px;
      text-align: center;
    }
  }
}
