* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  list-style-type: none;
  text-decoration: none;
}
$primary--color: rgba(255, 255, 255, 0.3);
$secondary--color: rgba(255, 255, 255, 0.6);
$font-color: #a0b0ea;
@import "animation";
@import "header";
@import "section";
@import "responsive";
@import "home";
@import "hobby";
@import "target";
@import "product";
@import "intro";
#controller {
  background: linear-gradient(45deg, #c8d0ed, #88f0f8);
  letter-spacing: 0.8px;
}
marquee {
  font-size: 20px;
  letter-spacing: 2px;
}
