* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", serif;
  list-style-type: none;
  text-decoration: none;
}

@-webkit-keyframes iconFadeIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes iconFadeIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes imageFadeIn {
  33% {
    opacity: 1;
    background-image: url("../images/icons/bodoi.png");
  }
  66% {
    opacity: 1;
    background-image: url("../images/icons/thien.png");
  }
  100% {
    opacity: 1;
    background-image: url("../images/icons/bodoi.png");
  }
}

@keyframes imageFadeIn {
  33% {
    opacity: 1;
    background-image: url("../images/icons/bodoi.png");
  }
  66% {
    opacity: 1;
    background-image: url("../images/icons/thien.png");
  }
  100% {
    opacity: 1;
    background-image: url("../images/icons/bodoi.png");
  }
}

@-webkit-keyframes updownImage {
  0% {
    -webkit-transform: translate3d(0, 0px, 2px);
            transform: translate3d(0, 0px, 2px);
  }
  20% {
    -webkit-transform: translate3d(0, -1px, 2px);
            transform: translate3d(0, -1px, 2px);
  }
  40% {
    -webkit-transform: translate3d(0, 0px, 2px);
            transform: translate3d(0, 0px, 2px);
  }
  60% {
    -webkit-transform: translate3d(0, 1px, 2px);
            transform: translate3d(0, 1px, 2px);
  }
  80% {
    -webkit-transform: translate3d(0, 2px, 2px);
            transform: translate3d(0, 2px, 2px);
  }
  100% {
    -webkit-transform: translate3d(0, 1px, 2px);
            transform: translate3d(0, 1px, 2px);
  }
}

@keyframes updownImage {
  0% {
    -webkit-transform: translate3d(0, 0px, 2px);
            transform: translate3d(0, 0px, 2px);
  }
  20% {
    -webkit-transform: translate3d(0, -1px, 2px);
            transform: translate3d(0, -1px, 2px);
  }
  40% {
    -webkit-transform: translate3d(0, 0px, 2px);
            transform: translate3d(0, 0px, 2px);
  }
  60% {
    -webkit-transform: translate3d(0, 1px, 2px);
            transform: translate3d(0, 1px, 2px);
  }
  80% {
    -webkit-transform: translate3d(0, 2px, 2px);
            transform: translate3d(0, 2px, 2px);
  }
  100% {
    -webkit-transform: translate3d(0, 1px, 2px);
            transform: translate3d(0, 1px, 2px);
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  margin: 24px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

.header ul,
.header li {
  padding: 0;
  margin: 0;
}

.header > .row {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .col-xl-0 .col-xl-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__avatar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 140px;
  height: 160px;
  border-radius: 12px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

.header__avatar:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 2px rgba(50, 50, 50, 0.402);
}

.header__link a {
  padding: 0;
  margin: 0;
  color: inherit;
}

.header__link:hover {
  -webkit-transform: translate3d(0, -4px, 2px);
          transform: translate3d(0, -4px, 2px);
}

.header__name {
  text-align: center;
  font-size: 36px;
  padding-top: 12px;
  margin-bottom: 0;
}

.header__about {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
}

.header:hover {
  -webkit-transform: translate3d(0, 4px, 2px);
          transform: translate3d(0, 4px, 2px);
}

.infoList p {
  padding: 0;
  margin: 0;
}

.infoList .infoList__title {
  text-transform: uppercase;
  margin-top: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.infoList .infoList__content {
  font-size: 15px;
}

.icon {
  width: 40px;
  height: 40px;
  -webkit-animation: iconFadeIn 2s linear infinite;
          animation: iconFadeIn 2s linear infinite;
}

.banner {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.banner:hover {
  -webkit-transform: translate3d(0, -4px, 2px);
          transform: translate3d(0, -4px, 2px);
}

.banner > .row {
  padding: 0;
  margin: 0;
}

.banner .col-12 {
  padding-right: 0;
  padding-left: 0;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  margin-right: 32px;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__link {
  width: 70%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

.sidebar__link:hover {
  -webkit-transform: translate3d(0, -4px, 1px);
          transform: translate3d(0, -4px, 1px);
}

.sidebar__img {
  cursor: pointer;
}

.sidebar__link > span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.content {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  min-height: 496px;
}

@media (min-width: 1200px) {
  .col-xl-0 {
    display: none;
  }
  #controller {
    padding: 32px;
  }
  #controller .content {
    padding: 32px;
  }
  #controller .header .row .col-sm-3 {
    margin-left: 48px;
  }
  #controller .header .row .col-sm-7 {
    margin-left: -48px;
  }
  #controller .header .fb {
    margin-left: 40px;
  }
  #controller .header .fb :hover {
    color: inherit;
  }
  #controller .header .git {
    margin-right: 40px;
  }
  #controller .header .git :hover {
    color: inherit;
  }
  #ProductPage .product--item {
    height: 258px;
  }
  #HobbyPage .hobby__text {
    padding-right: 36px;
  }
  #HobbyPage .hobby__img {
    width: 80%;
  }
  #IntroPage .intro__text {
    padding-right: 48px;
  }
  #IntroPage .intro__img {
    width: 64%;
    height: 160px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
            box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  }
  #HomePage .home__img {
    width: 70%;
    height: 360px;
  }
  #HomePage .wapper h3 {
    padding: 0 26px;
    font-size: 24px;
  }
  #HomePage .wapper span {
    font-size: 26px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .col-lg-0 {
    display: none;
  }
  #controller {
    padding: 32px;
  }
  #controller .content {
    padding: 32px;
  }
  #controller .header .fb {
    margin-left: 52px;
  }
  #controller .header .fb :hover {
    color: inherit;
  }
  #controller .header .git {
    margin-right: 52px;
  }
  #controller .header .git :hover {
    color: inherit;
  }
  #HobbyPage .hobby__img {
    width: 80%;
    height: 140px;
  }
  #HobbyPage .hobby__text {
    padding-right: 36px;
  }
  #IntroPage .intro__text {
    padding-right: 36px;
  }
  #IntroPage .intro__img {
    width: 64%;
    height: 140px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
            box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  }
  #HomePage .home__img {
    width: 77%;
    height: 320px;
  }
  #HomePage .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HomePage .wapper h2 {
    font-size: 2em;
  }
  #HomePage .wapper h3 {
    font-size: 20px;
  }
  #HomePage .wapper span {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #controller {
    padding: 28px;
  }
  #controller .content {
    padding: 28px;
  }
  .col-md-0 {
    display: none;
  }
  .header__name {
    font-size: 28px;
  }
  .sidebar {
    height: 88px;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .sidebar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sidebar__link {
    width: 100px;
    height: 64px;
    border-radius: 12px;
    margin: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby__img {
    width: 80%;
    height: 120px;
  }
  #HobbyPage .hobby__text {
    padding-right: 24px;
  }
  #ProductPage .product__img {
    padding: 0 6px;
    height: 210px;
    border-radius: 12px;
  }
  #ProductPage .product--item {
    height: 258px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 12px;
    padding: 24px 0px;
    border-radius: 24px;
  }
  #IntroPage .intro__text {
    padding-right: 28px;
  }
  #IntroPage .intro__img {
    width: 64%;
    height: 140px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
            box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  }
  #HomePage .home__img {
    width: 74%;
    height: 320px;
  }
  #HomePage .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HomePage .wapper h2 {
    font-size: 1.5em;
  }
  #HomePage .wapper h3 {
    font-size: 16px;
  }
  #HomePage .wapper span {
    font-size: 18px;
  }
}

@media (min-width: 650px) and (max-width: 768px) {
  .col-md-0 {
    display: none;
  }
  #controller {
    padding: 24px;
  }
  #controller .content {
    padding: 24px;
  }
  #controller .header .fb {
    margin-left: 40px;
  }
  #controller .header .fb :hover {
    color: inherit;
  }
  #controller .header .git {
    margin-right: 40px;
  }
  #controller .header .git :hover {
    color: inherit;
  }
  marquee {
    font-size: 18px;
  }
  .header__name {
    font-size: 28px;
  }
  .sidebar {
    height: 88px;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .sidebar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sidebar__link {
    width: 100px;
    height: 64px;
    border-radius: 12px;
    margin: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby__img {
    padding: 12px 0 6px 0;
    width: 60%;
  }
  #HobbyPage .hobby__title {
    text-align: center;
  }
  #HobbyPage .hobby__text {
    margin-top: -6px;
    padding: 0px 24px;
  }
  #IntroPage .intro--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #IntroPage .intro__img {
    padding: 12px 0 6px 0;
    width: 42%;
    height: 200px;
  }
  #IntroPage .intro__title {
    text-align: center;
  }
  #IntroPage .intro__text {
    padding: 0 28px;
  }
  #HomePage .home--images {
    margin: 16px 0;
  }
  #HomePage .home--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HomePage .home__img {
    width: 50%;
    height: 300px;
  }
  #HomePage .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0;
  }
  #HomePage .wapper h2 {
    font-size: 1.5em;
  }
  #HomePage .wapper h3 {
    font-size: 18px;
  }
  #HomePage .wapper span {
    font-size: 21px;
  }
}

@media (width: 576px) {
  .header .col-sm-3 {
    margin-left: 40px;
  }
}

@media (max-width: 650px) and (min-width: 576px) {
  marquee {
    font-size: 18px;
  }
  .col-sm-0 {
    display: none;
  }
  #controller {
    padding: 24px;
  }
  #controller .content {
    padding: 24px;
  }
  #controller .header .fb {
    margin-left: 40px;
  }
  #controller .header .fb :hover {
    color: inherit;
  }
  #controller .header .git {
    margin-right: 40px;
  }
  #controller .header .git :hover {
    color: inherit;
  }
  .header__name {
    font-size: 26px;
  }
  .header__about {
    font-size: 16px;
  }
  .icon {
    width: 30px;
    height: 30px;
    -webkit-animation: iconFadeIn 2s linear infinite;
            animation: iconFadeIn 2s linear infinite;
  }
  .header__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
            box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  }
  .header__avatar {
    width: 116px;
    height: 128px;
    border-radius: 12px;
  }
  .sidebar {
    height: 76px;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .sidebar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sidebar__link {
    width: 80px;
    height: 52px;
    border-radius: 12px;
    margin: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar span {
    display: none;
  }
  .banner > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby__img {
    border-radius: 28px;
    padding: 12px 0 6px 0;
    width: 60%;
  }
  #HobbyPage .hobby__title {
    text-align: center;
  }
  #HobbyPage .hobby__text {
    margin-top: -6px;
    padding: 0px 24px;
  }
  #IntroPage .intro--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #IntroPage .intro__img {
    padding: 12px 0 6px 0;
    width: 42%;
    height: 164px;
  }
  #IntroPage .intro__title {
    text-align: center;
  }
  #IntroPage .intro__text {
    padding: 0 28px;
  }
  #HomePage .home--images {
    margin: 16px 0;
  }
  #HomePage .home--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HomePage .home__img {
    width: 50%;
    height: 300px;
  }
  #HomePage .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0;
  }
  #HomePage .wapper h2 {
    font-size: 1.5em;
  }
  #HomePage .wapper h3 {
    font-size: 18px;
  }
  #HomePage .wapper span {
    font-size: 21px;
  }
}

@media (max-width: 576px) {
  .col-0 {
    display: none;
  }
  #controller {
    padding: 20px;
  }
  #controller .content {
    padding: 20px;
  }
  #controller .header .fb {
    margin-left: 32px;
  }
  #controller .header .fb :hover {
    color: inherit;
  }
  #controller .header .git {
    margin-right: 32px;
  }
  #controller .header .git :hover {
    color: inherit;
  }
  marquee {
    font-size: 16px;
  }
  .header .col-xl-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar {
    height: 64px;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .sidebar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sidebar__link {
    width: 60px;
    height: 40px;
    border-radius: 12px;
    margin: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar span {
    display: none;
  }
  .banner > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HobbyPage .hobby__img {
    border-radius: 0;
    padding: 6px 0 6px 0;
    width: 60%;
  }
  #HobbyPage .hobby__title {
    text-align: center;
  }
  #HobbyPage .hobby__text {
    margin-top: -6px;
    padding: 0px 24px;
  }
  #ProductPage .product--item {
    height: 286px;
  }
  #ProductPage .product--title {
    font-size: 18px;
    text-align: center;
  }
  #IntroPage .intro--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #IntroPage .intro__img {
    padding: 12px 0 6px 0;
    width: 42%;
    height: 172px;
  }
  #IntroPage .intro__title {
    text-align: center;
  }
  #IntroPage .intro__text {
    padding: 0 16px;
  }
  #TargetPage h4 {
    font-size: 20px;
  }
  .target__content {
    font-size: 16px;
  }
  #HomePage .home--images {
    margin: 16px 0;
  }
  #HomePage .home--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HomePage .home__img {
    width: 60%;
    height: 240px;
  }
  #HomePage .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0;
  }
  #HomePage .wapper h2 {
    font-size: 1.5em;
  }
  #HomePage .wapper h3 {
    font-size: 18px;
  }
  #HomePage .wapper span {
    font-size: 21px;
  }
}

@media (max-width: 390px) {
  .col-0 {
    display: none;
  }
  #controller {
    padding: 16px;
  }
  #controller .content {
    padding: 16px;
  }
  #controller .header .fb {
    margin-left: 12px;
  }
  #controller .header .fb :hover {
    color: inherit;
  }
  #controller .header .git {
    margin-right: 12px;
  }
  #controller .header .git :hover {
    color: inherit;
  }
  marquee {
    font-size: 14px;
  }
  .sidebar span {
    display: none;
  }
  .header .col-xl-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__name {
    font-size: 24px;
  }
  .header__about {
    font-size: 16px;
  }
  #ProductPage .product__img {
    margin-bottom: 28px;
  }
  #ProductPage .product--item {
    height: 286px;
  }
  #ProductPage .product--title {
    font-size: 16px;
    text-align: center;
  }
  #TargetPage h4 {
    font-size: 16px;
  }
  #TargetPage .target__content {
    font-size: 14px;
  }
  #HomePage .home--images {
    margin: 16px 0;
  }
  #HomePage .home--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #HomePage .home__img {
    width: 60%;
    height: 200px;
  }
  #HomePage .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0;
  }
  #HomePage .wapper h2 {
    font-size: 1.5em;
  }
  #HomePage .wapper h3 {
    font-size: 14px;
  }
  #HomePage .wapper span {
    font-size: 17px;
  }
}

#HomePage {
  overflow: hidden;
}

#HomePage .content__home {
  border-radius: 24px;
  background-image: url("../images/icons/background.png");
  background-size: cover;
  background-position: center;
  min-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#HomePage .row {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#HomePage .home--images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#HomePage .home--images .home__img {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#HomePage .home--images .home__img--item {
  width: 92%;
  height: 92%;
  background-image: url("../images/icons/thien.png");
  opacity: 1;
  -webkit-animation: imageFadeIn 30s linear infinite 3s;
          animation: imageFadeIn 30s linear infinite 3s;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

#HomePage .wapper {
  font-weight: 400;
}

#HomePage .wapper h2 {
  text-align: center;
}

#HomePage .wapper h3 {
  margin-left: 20px;
}

#HomePage .wapper h3 span {
  margin-left: 12px;
  color: #a0b0ea;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#HomePage .wapper h3 .ityped-cursor {
  -webkit-animation: blink 0.3s infinite;
          animation: blink 0.3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#HomePage .button-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#HomePage .button-btn button {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 24px;
  border: 1px solid #fff;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  background: linear-gradient(45deg, #bac4e9, #88f0f8);
  -webkit-animation: background-btn linear 3s infinite;
          animation: background-btn linear 3s infinite;
}

#HomePage .button-btn button:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

@-webkit-keyframes background-btn {
  25% {
    background: -webkit-gradient(linear, left top, right top, from(#bac4e9), to(#88f0f8));
    background: linear-gradient(90deg, #bac4e9, #88f0f8);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#bac4e9), to(#88f0f8));
    background: linear-gradient(180deg, #bac4e9, #88f0f8);
  }
  100% {
    background: -webkit-gradient(linear, right top, left top, from(#bac4e9), to(#88f0f8));
    background: linear-gradient(270deg, #bac4e9, #88f0f8);
  }
}

@keyframes background-btn {
  25% {
    background: -webkit-gradient(linear, left top, right top, from(#bac4e9), to(#88f0f8));
    background: linear-gradient(90deg, #bac4e9, #88f0f8);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#bac4e9), to(#88f0f8));
    background: linear-gradient(180deg, #bac4e9, #88f0f8);
  }
  100% {
    background: -webkit-gradient(linear, right top, left top, from(#bac4e9), to(#88f0f8));
    background: linear-gradient(270deg, #bac4e9, #88f0f8);
  }
}

#HobbyPage .row {
  margin: 0;
  padding: 0;
}

#HobbyPage .hobby--item {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

#HobbyPage .hobby--item .col-xl-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#HobbyPage .hobby--item:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

#HobbyPage .hobby__img {
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

#HobbyPage .hobby__text {
  text-align: justify;
}

#TargetPage p {
  padding: 0;
  margin: 0;
}

#TargetPage .target--item {
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  margin-top: 12px;
  background-image: url("../images/icons/background.png");
  background-position: center;
  background-size: cover;
}

#TargetPage .target--item .target__title {
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  width: 94%;
  padding: 12px;
  margin-top: 24px;
  border-radius: 12px;
  text-align: justify;
}

#TargetPage .target--item .target__content {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  background-color: rgba(255, 255, 255, 0.6);
  width: 94%;
  border-radius: 12px;
  margin: 12px;
  padding: 6px 24px;
  text-align: justify;
}

#TargetPage .target__content:hover,
#TargetPage .target__title:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

#ProductPage .row {
  padding: 0;
  margin: 0;
}

#ProductPage .product--title {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  padding: 12px 0px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ProductPage .product--title:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

#ProductPage .product__img {
  padding: 0 6px;
  height: 210px;
  border-radius: 12px;
}

#ProductPage .product--item {
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  padding: 24px 0px;
  border-radius: 24px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

#ProductPage .product--item:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

#ProductPage .happy--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

#ProductPage .happy__img {
  width: 80px;
  height: 80px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#ProductPage .happy__img:hover {
  -webkit-transform: translate3d(0, -4px, 2px);
          transform: translate3d(0, -4px, 2px);
}

#IntroPage .row {
  margin: 0;
  padding: 0;
}

#IntroPage .intro--item {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
          box-shadow: 0px 5px 5px 1px rgba(50, 50, 50, 0.402);
}

#IntroPage .intro--item .col-xl-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#IntroPage .intro--item:hover {
  -webkit-transform: translate3d(0, -4px, 0.6px);
          transform: translate3d(0, -4px, 0.6px);
}

#IntroPage .intro__text {
  text-align: justify;
}

#controller {
  background: linear-gradient(45deg, #c8d0ed, #88f0f8);
  letter-spacing: 0.8px;
}

marquee {
  font-size: 20px;
  letter-spacing: 2px;
}
/*# sourceMappingURL=style.css.map */